:root {
  --p1: #d6ff00;
  --p2: #f9ffda;
  --p3: #ebff7b;
  --p4: #85ac18;
  --p5: #435210;
  --b1: #101114;
  --b2: #202127;
  --b3: #2c2d35;
  --w1: #fffcf8;
  --w2: #ffffff;
  --link: #0c8ce9;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Instrument Serif", serif;
  --font-condensed: "Sofia Sans Extra Condensed", sans-serif;

  /* Scrollbar — personalize aqui */
  --scrollbar-size: 10px;
  --scrollbar-radius: 1000px;
  --scrollbar-track: transparent;
  --scrollbar-thumb: var(--p1);
  --scrollbar-thumb-hover: var(--p1);
  --scrollbar-thumb-active: var(--p3);
}
